/* Breakpoint: Extra extra large */
@media only screen and (min-width: 1400px) {
  .artifika {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 100px;
    color: white;
    text-shadow: black 2px 2px;
    letter-spacing: 5px;
  }
  .artifika-nav {
    font-family: "Artifika";
    font-style: normal;
  }
  .artifika-art {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
    color: white;
    text-shadow: black 1px 1px;
  }
  .artifika-club {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
    color: rgb(20, 20, 20);
  }
  .artifika-join {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
    color: white;
    text-shadow: black 1px 1px;
  }
  .artifika-footer {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 17px;
    color: black;
  }
  #home {
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 100vh;
  }
  #art {
    background-image: url(./img/set2.jpg);
    background-size: cover;
    height: 100vh;
  }
  #club {
    background-color: rgb(255, 236, 239);
    height: 200vh;
  }
  #gallery {
    background-color: black;
  }
  #join-div-small {
    display: none;
  }
  footer {
    background-color: rgb(255, 236, 239);
  }
}
/* Breakpoint: Extra large */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .artifika {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 90px;
    color: white;
    text-shadow: black 2px 2px;
    letter-spacing: 5px;
  }
  .artifika-nav {
    font-family: "Artifika";
    font-style: normal;
  }
  .artifika-art {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
    color: white;
    text-shadow: black 1px 1px;
  }
  .artifika-club {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
    color: rgb(20, 20, 20);
  }
  .artifika-join {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
    color: white;
    text-shadow: black 1px 1px;
  }
  .artifika-footer {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 17px;
    color: black;
  }
  #home {
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 100vh;
  }
  #art {
    background-image: url(./img/set2.jpg);
    background-size: cover;
    height: 100vh;
  }
  #club {
    background-color: rgb(255, 236, 239);
    height: 200vh;
  }
  #gallery {
    background-color: black;
  }
  #join-div-small {
    display: none;
  }
  footer {
    background-color: rgb(255, 236, 239);
  }
}
/* Breakpoint: Large */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .artifika {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 80px;
    color: white;
    text-shadow: black 2px 2px;
    letter-spacing: 5px;
  }
  .artifika-nav {
    font-family: "Artifika";
    font-style: normal;
  }
  .artifika-art {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
    color: white;
    text-shadow: black 1px 1px;
  }
  .artifika-club {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
    color: rgb(20, 20, 20);
  }
  .artifika-join {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
    color: white;
    text-shadow: black 1px 1px;
  }
  .artifika-footer {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 17px;
    color: black;
  }
  #home {
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 100vh;
  }
  #art {
    background-image: url(./img/set2.jpg);
    background-size: cover;
    height: 100vh;
  }
  #club {
    background-color: rgb(255, 236, 239);
    height: 200vh;
  }
  #gallery {
    background-color: black;
  }
  #join-div-small {
    display: none;
  }
  footer {
    background-color: rgb(255, 236, 239);
  }
}
/* Breakpoint: Medium */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .artifika {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 70px;
    color: white;
    text-shadow: black 2px 2px;
    letter-spacing: 5px;
  }
  .artifika-nav {
    font-family: "Artifika";
    font-style: normal;
  }
  .artifika-art {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 20px;
    color: white;
    text-shadow: black 1px 1px;
  }
  .artifika-club {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 20px;
    color: rgb(20, 20, 20);
  }
  .artifika-join {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 20px;
    color: white;
    text-shadow: black 1px 1px;
  }
  .artifika-footer {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 17px;
    color: black;
  }
  #home {
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 100vh;
  }
  #art {
    background-image: url(./img/set2.jpg);
    background-size: cover;
    height: 100vh;
  }
  #club {
    background-color: rgb(255, 236, 239);
    height: 200vh;
  }
  #gallery {
    background-color: black;
  }
  #join-div-small {
    display: none;
  }
  footer {
    background-color: rgb(255, 236, 239);
  }
}
/* Breakpoint: Small */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .artifika {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 60px;
    color: white;
    text-shadow: black 2px 2px;
  }
  .artifika-nav {
    font-family: "Artifika";
    font-style: normal;
  }
  .artifika-art {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 20px;
    color: white;
    text-shadow: black 1px 1px;
  }
  .artifika-club {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 20px;
    color: rgb(20, 20, 20);
  }
  .artifika-join {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 20px;
    color: white;
    text-shadow: black 1px 1px;
  }
  .artifika-footer {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 17px;
    color: black;
  }
  #home {
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 100vh;
  }
  #art {
    background-image: url(./img/set2.jpg);
    background-size: cover;
    height: 100vh;
  }
  #club {
    background-color: rgb(255, 236, 239);
    height: 200vh;
  }
  #gallery {
    background-color: black;
  }
  #join-div-medium {
    display: none;
  }
  #join-div-small {
    height: 100%;
    position: relative;
    background-image: url("./img/set1.jpg");
    background-size: cover;
  }
  footer {
    background-color: rgb(255, 236, 239);
  }
}
/* Breakpoint: Extra Small */
@media only screen and (min-width: 1px) and (max-width: 575px) {
  .artifika {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 50px;
    color: white;
    text-shadow: black 2px 2px;
  }
  .artifika-nav {
    font-family: "Artifika";
    font-style: normal;
  }
  .artifika-art {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 20px;
    color: white;
    text-shadow: black 1px 1px;
    overflow: hidden;
  }
  .artifika-club {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 17px;
    color: rgb(20, 20, 20);
  }
  .artifika-join {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 20px;
    color: white;
    text-shadow: black 1px 1px;
  }
  .artifika-footer {
    font-family: "Artifika";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 11px;
    color: black;
  }
  #home {
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 100vh;
  }
  #art {
    background-image: url(./img/set2.jpg);
    background-size: cover;
    height: 100vh;
  }
  #club {
    background-color: rgb(255, 236, 239);
    height: 200vh;
  }
  #gallery {
    background-color: black;
  }
  #join-div-medium {
    display: none;
  }
  #join-div-small {
    position: relative;
    background-image: url("./img/set1.jpg");
    background-size: cover;
    height: 100vh;
  }
  footer {
    background-color: rgb(255, 236, 239);
  }
}
